In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\paulo\OneDrive\USA Education\Career Foundry\Data Analysis\Modulo 07 - Dashboard\Flavors of Cacao Project'

In [3]:
df_cacao = pd.read_csv(os.path.join(path, '02 - Data', 'Prepare data', 'flavors_of_cacao_spelling_consistent.csv'), index_col = False)

In [4]:
df_cacao.describe()

               REF  Review\nDate       Rating
count  1795.000000   1795.000000  1795.000000
mean   1035.904735   2012.325348     3.185933
std     552.886365      2.927210     0.478062
min       5.000000   2006.000000     1.000000
25%     576.000000   2010.000000     2.875000
50%    1069.000000   2013.000000     3.250000
75%    1502.000000   2015.000000     3.500000
max    1952.000000   2017.000000     5.000000

In [5]:
df_cacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Company Maker-if known            1795 non-null   object
 1   Specific Bean Origin
or Bar Name  1795 non-null   object
 2   REF                               1795 non-null   int64
 3   Review
Date                       1795 non-null   int64
 4   Cocoa
Percent                     1795 non-null   object
 5   Company
Location                  1795 non-null   object
 6   Rating                            1795 non-null   float64
 7   Bean
Type                         1795 non-null   object
 8   Broad Bean
Origin                 1795 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB

In [6]:
df_cacao.columns

Index(['Company Maker-if known', 'Specific Bean Origin\nor Bar Name', 'REF',
       'Review\nDate', 'Cocoa\nPercent', 'Company\nLocation', 'Rating',
       'Bean\nType', 'Broad Bean\nOrigin'],
      dtype='object')

In [7]:
# Renaming Columns 

df_cacao = df_cacao.rename(columns = {'Company Maker-if known':'company_name', 'Specific Bean Origin\nor Bar Name':'origin_bean_bar_name','Review\nDate':'review_year','Cocoa\nPercent':'cocoa_percent','Company\nLocation':'company_location','Rating':'rating','Bean\nType':'bean_type','Broad Bean\nOrigin':'bean_country_origin'})

In [8]:
df_cacao.columns

Index(['company_name', 'origin_bean_bar_name', 'REF', 'review_year',
       'cocoa_percent', 'company_location', 'rating', 'bean_type',
       'bean_country_origin'],
      dtype='object')

In [9]:
df_cacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   company_name          1795 non-null   object
 1   origin_bean_bar_name  1795 non-null   object
 2   REF                   1795 non-null   int64
 3   review_year           1795 non-null   int64
 4   cocoa_percent         1795 non-null   object
 5   company_location      1795 non-null   object
 6   rating                1795 non-null   float64
 7   bean_type             1795 non-null   object
 8   bean_country_origin   1795 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB

In [10]:
df_cacao.shape

(1795, 9)

In [11]:
# Finding Missing values

df_cacao.isnull().sum()

company_name            0
origin_bean_bar_name    0
REF                     0
review_year             0
cocoa_percent           0
company_location        0
rating                  0
bean_type               0
bean_country_origin     0
dtype: int64

In [12]:
# Checking for duplicates

df_cacao.duplicated().sum()

0

In [13]:
# Finding out the mean, std, min, max

df_cacao.describe()

               REF  review_year       rating
count  1795.000000  1795.000000  1795.000000
mean   1035.904735  2012.325348     3.185933
std     552.886365     2.927210     0.478062
min       5.000000  2006.000000     1.000000
25%     576.000000  2010.000000     2.875000
50%    1069.000000  2013.000000     3.250000
75%    1502.000000  2015.000000     3.500000
max    1952.000000  2017.000000     5.000000

In [14]:
# Checking the value count for string column: bean_country_origin

df_cacao['bean_country_origin'].value_counts()

bean_country_origin
Venezuela              214
Ecuador                193
Dominican Republic     166
Peru                   165
Madagascar             146
Unknown                 73
Multiple                63
Nicaragua               60
Brazil                  58
Bolivia                 57
Belize                  49
Papua New Guinea        42
Colombia                40
Costa Rica              38
Trinidad & Tobago       38
Vietnam                 38
Tanzania                34
Ghana                   33
Mexico                  30
Hawaii                  28
Guatemala               28
Jamaica                 20
Grenada                 19
Sao Tome & Principe     18
Indonesia               16
Honduras                15
Cuba                    11
Congo                   10
Haiti                    9
Fiji                     8
St. Lucia                8
Uganda                   8
Panama                   7
Vanuatu                  7
Ivory Coast              5
Philippines              5
Solomon Islands          4
India                    4
Puerto Rico              4
Malaysia                 3
Togo                     3
Liberia                  3
Australia                3
Sri Lanka                2
El Salvador              2
Samoa                    2
Burma                    1
Martinique               1
Gabon                    1
Nigeria                  1
Cameroon                 1
Suriname                 1
Name: count, dtype: int64

In [15]:
# Checking the value count for string column: bean_type

df_cacao['bean_type'].value_counts()

bean_type
Unknown       892
Trinitario    424
Forastero     196
Criollo       171
Blend         101
Nacional        5
Beniano         3
Matina          3
Name: count, dtype: int64

In [17]:
# Consistent checks

df_cacao.shape

(1795, 9)

In [18]:
df_cacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   company_name          1795 non-null   object
 1   origin_bean_bar_name  1795 non-null   object
 2   REF                   1795 non-null   int64
 3   review_year           1795 non-null   int64
 4   cocoa_percent         1795 non-null   object
 5   company_location      1795 non-null   object
 6   rating                1795 non-null   float64
 7   bean_type             1795 non-null   object
 8   bean_country_origin   1795 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB

In [20]:
df_cacao.describe()

               REF  review_year       rating
count  1795.000000  1795.000000  1795.000000
mean   1035.904735  2012.325348     3.185933
std     552.886365     2.927210     0.478062
min       5.000000  2006.000000     1.000000
25%     576.000000  2010.000000     2.875000
50%    1069.000000  2013.000000     3.250000
75%    1502.000000  2015.000000     3.500000
max    1952.000000  2017.000000     5.000000

In [23]:
# Exporting 

df_cacao.to_csv(os.path.join(path, '02 - Data', 'Prepare data', 'flavors_of_cacao_data_wrangled.csv'), index = False)